
.login{
    display:flex;
    align-items:center;
    position:absolute;
}
.form{

    position: relative;
    padding-left: 20px;
}
.input-field{
    border-radius: 5px;
    border-color: aqua;
    margin: 15px;
    height: 20px;
    width:fit-content;
    position: relative;


}
.input-button{
    margin: 2rem 0;
    padding: 1rem 2rem;
    width:120px;
    cursor: pointer;
    border-color: aqua;
    color:rebeccapurple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}